btn-primary{
  background-color: #ff6b00;
  color: #fff;
  padding: 1% 8%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1vw;
  transition: background-color 0.3s;
}

Link{
  color:#FFFFFF;
  font-weight: 700;
}