.form-container-login{
  width:50%;
}
.form-container-login .container-btn-acess{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1vw;
  margin-bottom:5%
}
.form-container-login .btn-acess{
  display:flex;
  background:transparent;
  align-items:center;
  justify-content:center;
  width:19vw;
  border-radius:10px;
  gap:2%;
  cursor:pointer;
}
.form-container-login hr{
  width:50%;
  margin:0 auto;
}
.form-container-login h2, .form-container-login a{
  display:block;
  max-width:100%;
  text-align:center;
}
.form-container-login form{
  display:flex;
  flex-direction:column;
  align-items:center;
}
form .btn-submit{
  width: 100%;
  text-align: center;
}
.btn-btn-submit {
  background-color: #ff6b00;
  color: #fff;
  padding: 1% 8%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1vw;
  transition: background-color 0.3s;
} 

.btn-btn-submit:hover {
  background-color: #e65c00;
}
