.blue-rectangle {
  width: 15vw; /* 20% da largura da viewport */
  height: auto; /* Ajuste automático com base no conteúdo */
  max-width: 300px; /* Limita a largura máxima */
  background-color: #0d51ab;
  position: fixed;
  border-radius: 10px;
  top: 31vh; /* 30% da altura da viewport */
  right: 23vw; /* 10% da largura da viewport */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1.3rem;
}

.controle-img {
  width: 9rem; /* Mantém proporção relativa */
  height: auto;
  margin-left: 1rem;
}

.blue-rectangle-text {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem; /* Tamanho relativo ao padrão */
  margin-right: 1rem;
}

/* Responsivo - Ocultar o .blue-rectangle em telas pequenas */
@media (max-width: 342px), (max-height: 556px) {
  .blue-rectangle {
    display: none; /* Oculta o elemento */
  }
}