/* Estilo da barra laranja */
.rectangle {
  width: 80px;
  height: 783px;
  background-color: #f46720;
  position: absolute;
  right: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: 2;
}

.rectangle.expanded {
  width: 200px; /* Aumenta a largura da barra quando expandida */
}

/* Estilo da sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px;
  width: 100%; /* Garante que a sidebar preencha toda a largura da barra laranja */
  transition: transform 0.3s ease-in-out;
}

.rectangle.expanded .sidebar {
  align-items: flex-start;
  transform: translateX(20px);
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.sidebar-icon {
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.sidebar-text {
  font-size: 12px;
  font-weight: bold;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  left: 60px;
}

.rectangle.expanded .sidebar-text {
  opacity: 1;
  visibility: visible;
}

/* Estilo do cabeçalho */
.header-container {
  background-color: black;
  width: 100vw;
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
  z-index: 3;
}

body {
  background-color: #000036;
  overflow: hidden;
}

.title {
  color: white;
  font-size: 48px;
  margin: 0;
}

/* Media Query para telas menores que 421px */
@media (max-width: 421px) {
  /* Faz a barra laranja desaparecer em telas pequenas */
  .rectangle {
    width: 0; /* A largura da barra laranja vai para 0 */
  }

  /* Faz a sidebar desaparecer */
  .sidebar {
    display: none; /* Esconde a sidebar */
  }

  .header-container {
    height: 60px; /* Reduz a altura do header */
    padding-left: 10px; /* Ajusta o padding */
  }

  .title {
    color: white;
    font-size: 40px;
    margin: 0;
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Faz o título ocupar toda a largura disponível */
  }
  
}
