.orange-rectangle {
  display: flex;
  flex-direction: column;
  background-color: #f46720;
  width: 150px;
  height: 430px;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-top: 150px;
  margin-left: 250px;
  position: relative;
  border-radius: 10px;
}

.square {
  width: 120px;
  height: 200px;
  background-color: white;
  margin-top: 40px;
  border-radius: 10px;
}

.square p {
  color: #f46720;
  margin: 0;
  text-align: center;
}

.square p:first-child {
  margin-bottom: 10px;
  font-size: 24px;
}

.square p:last-child {
  font-size: 16px;
}

@media (max-width: 768px) {
  .orange-rectangle {
    width: 130px;
    height: 350px;
    margin-top: 100px;
    margin-left: 150px;
  }

  .square {
    width: 100px;
    height: 160px;
  }

  .square p:first-child {
    font-size: 20px;
  }

  .square p:last-child {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .orange-rectangle {
    width: 100px;
    height: 280px;
    margin-top: 50px;
    margin-left: 50px;
  }

  .square {
    width: 80px;
    height: 120px;
  }

  .square p:first-child {
    font-size: 16px;
  }

  .square p:last-child {
    font-size: 12px;
  }
}
