.user-greeting {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1em;
  position: relative;
}

.user-greeting-text {
  position: absolute;
  top: 55px;
  left: 250px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}

.profile-button {
  position: absolute;
  top: 60px;
  left: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 8px 12px;
  width: 280px;
  height: 45px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.profile-button .icon {
  font-size: 1em;
}

@media (max-width: 1024px) {
  .user-greeting-text {
    font-size: 30px;
    left: 20px;
  }

  .profile-button {
    font-size: 18px;
    width: 220px;
    top: 80px;
    left: 20px;
  }
}

@media (max-width: 768px) {
  .user-greeting-text {
    font-size: 25px;
    left: 10px;
  }

  .profile-button {
    font-size: 16px;
    width: 180px;
    top: 100px;
    left: 10px;
  }
}

@media (max-width: 480px) {
  .user-greeting {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  .user-greeting-text {
    font-size: 20px;
    top: 0;
    left: 0;
  }

  .profile-button {
    font-size: 14px;
    width: 150px;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
}
