.user-greeting {
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 1.1em;
  position: relative;
}

.user-greeting-text {
  position: absolute;
  top: 4vw;
  left: 16vw;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 7vh;
  color: #ffffff;
}

.profile-button {
  position: absolute;
  top: 10vh;
  left: 58vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding: 0,8vh 1.2vw;
  width: 19vw;
  height: 7vh;
  border: 0.1vh solid white;
  background-color: transparent;
  color: white;
  border-radius: 0.5vh;
  cursor: pointer;
  font-size: 3vh;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.profile-button .icon {
  font-size: 1em;
}