.white-rectangle-two {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 16vw;
  height: 28vw;
  align-items: center;
  justify-content: flex-start;
  padding: 0.6vw;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1vw;
}

.gear-icon {
  width: 2vw;
  height: auto;
  margin-top: 0px;
  margin-left: 14vw;
}

.image {
  width: 25vw;
  height: auto;
  margin-top: 0.5vw;
}

.cor-label,
.image-label {
  font-size: 1.1vw;
  font-family: "Inter", sans-serif;
  color: #000;
  margin: 0;
  text-align: center;
  margin-left: -12vw;
  margin-top: 1vh;
}

.color-overlay,
.accessory-overlay {
  position: relative;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-images,
.accessory-images {
  position: absolute;
  top: 1vh;
  display: flex;
  gap: 1vw;
}

.color-image,
.accessory-image {
  width: 1.4vw;
  height: auto;
  margin: 1.2vh;
}